a {
    text-decoration: none;
    color: rgba(255, 255, 255, 0.87);
}


.plus-icon {
    font-size: 40px;
    padding-right: 10px;
} 


.create-overlay {
    background-color: rgba(0, 0, 0, 0.14);
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}



.create-modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 70vh;
    width: 40vw;
    background-color: rgba(0, 0, 0, 0.615);
    border-radius: 5px;
}

.close-btn {
    margin-left: 30vw;
}

.create-modal h3 {
    margin-bottom: 20vh;
}

.file {
    margin-bottom: 30vh;
}

.image-preview {
    height: 100px;
}