.home {
    display: grid;
    grid-template-columns: 16vw 1fr 300px;
    grid-template-areas: 
    "sidebar suggestions user"
    "sidebar memories user";
}


.logo-img {
    height: 70px;
    padding-top: 20px;
}

.logo-img-bar {
    height: 25px;
    padding-right: 14px;
}

.sidebar {
    grid-area: sidebar;
    display: flex;
    flex-direction: column;
    width: 16vw;
    height: 100vh;
    background-color: #212d4052;
    position: fixed;
    top: 0;
    left: 0;
    margin: 0;
    padding: 0;
}

.logo {
    display: flex;
    justify-content: center;
    cursor: pointer;
    padding-bottom: 50px;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    display: flex; 
    align-items: center;
    padding-bottom: 60px;
    padding-left: 20px; 
}

.suggestion {
    grid-area: suggestions;
    padding-left: 2vw;  
    padding-top: 2vh;
    display: flex;
    flex-direction: column;
    padding-left: 17vw;
    overflow-y: auto; 
    padding-bottom: 10vh;
}

.people {
    display: flex;
    flex-direction: row;
    overflow-x: auto; 
    padding: 20px 0;
    gap: 20px;
    width: 100%;
    scrollbar-width: thin; 
}

.people::-webkit-scrollbar {
    height: 8px;
}

.people::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 10px;
}

.people::-webkit-scrollbar-thumb {
    background: #c1c1c1;
    border-radius: 10px;
}

.people::-webkit-scrollbar-thumb:hover {
    background: #a8a8a8;
}

.person {
    flex: 0 0 auto; /* Don't grow, don't shrink, auto basis */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.pfp {
    height: 100px;
    width: 100px;
    border-radius: 100px;
    background-color: antiquewhite;
    cursor: pointer;
}

.username {
    text-align: center;
    margin-top: 8px;
    font-size: 14px;
}

.memories {
    grid-area: memories;
    padding-left: 2vw;

    padding-left: 24vw;
    display: flex;
    flex-direction: column;
}


.user {
    display: flex;
}

.username-post {
    padding-left: 1vw;
    padding-top: 1.4vh;
    color: rgb(104, 104, 104);
}


.post-pfp {
    background-color: #a8a8a8;
    height: 50px;
    width: 50px;
    border-radius: 50px;
}


.time {
    color: grey;
    font-size: small;
    padding-left: 0.3vw;
}

.content {
    padding-top: 2vh;
}

.content-img {
    height: 500px;
    width: 500px;
    border-radius: 25px;
    background-color: rgba(0, 0, 0, 0.26);
}

.content-text {
    padding-top: 2vh;
    width: 600px;
}

.interactions {
    padding-top: 30px;
    padding-bottom: 50px;
}


.interactions ul {
    display: flex;
    flex-direction: row;
    list-style: none;
}

.interactions li {
    padding-right: 10px;
    text-align: center;
    max-width: 100px;
    min-width: 100px;
}

.like-img {
    height: 30px;
    padding-right: 10px;
}

